@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --one-color: #f8f9fa;
  --two-color: #73B0CD;
  --three-color: #A8DFF1;
  --four-color: #F5F5F5;
  --dark-color: #d7e2ec;
  --darkmd-color: #f8f9fa;
  --darksm-color: #cfcfcf;
  --light-color: #edf2fb;
}

body{
  font-family: 'Inter', sans-serif;
  /* background-color: aqua; */
  /* background-image: url("https://img.freepik.com/free-vector/winter-light-blue-gradient-vector-background_53876-128352.jpg?w=740&t=st=1680581825~exp=1680582425~hmac=c192e349d896ca31372f90a22ac2c918f73cdf48837d26882409b33c861edf09");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  /* background-color: #F0E5CF; */
}
.hidden {
    display: none;

  }
  
  .block-on-hover:hover + .hidden {
    display: block;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

  .truncated-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  

  .truncated-content-2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  